---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if page.url and not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://www.dpsmguides.com{{ page.url }}</loc>
    {%- if page.date %}
    <lastmod>{{ page.date | date: "%Y-%m-%d" }}</lastmod>
    {%- endif %}
    {%- if page.data.sitemap and page.data.sitemap.changefreq %}
    <changefreq>{{ page.data.sitemap.changefreq }}</changefreq>
    {%- else %}
    <changefreq>weekly</changefreq>
    {%- endif %}
    {%- if page.data.sitemap and page.data.sitemap.priority %}
    <priority>{{ page.data.sitemap.priority }}</priority>
    {%- elif page.url == "/" %}
    <priority>1.0</priority>
    {%- elif page.inputPath.includes("/guides/") %}
    <priority>0.8</priority>
    {%- else %}
    <priority>0.5</priority>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>